   <br/>  <br/>

  <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
       <md-input-container>
        <label>Name</label>
        <input ng-model="user.name">
              <md-button class="md-raised md-primary" ng-click="addFemale(user)">add</md-button>
<md-button class="md-raised md-primary" ng-click="addMale(user)">doing</md-button>
<md-button class="md-raised md-primary">review</md-button>
<md-button class="md-raised md-primary">done</md-button>
      </md-input-container>
  </md-content>
 
<div layout="row">
    
    <md-content class="md-padding"  ui-on-Drop="onDrop1($event,$data,add)">
              <md-card>
         <md-toolbar class="md-primary"  style="width:300px">
    <div class="md-toolbar-tools">
      <h2 class="md-flex">Add</h2>
    </div>
  </md-toolbar>
  <md-card>
  <md-list-item  class="secondary-button-padding" ng-click="doPrimaryAction()" ui-draggable="true" drag="ad" on-drop-success="dropSuccessHandler($event,$index,add)" ng-repeat="ad in add track by $index">
    {{ad.name}}
  </md-list-item> </md-card>
      </md-card>
  </md-content>
  <!--=======================================================================================================-->
  
   <md-content class="md-padding"  ui-on-Drop="onDrop($event,$data,diong)">
              <md-card>
         <md-toolbar class="md-primary"  style="width:300px">
    <div class="md-toolbar-tools">
      <h2 class="md-flex">Doing</h2>
    </div>
  </md-toolbar>
  <md-card>
  <md-list-item  class="secondary-button-padding" ng-click="doPrimaryAction()" ui-draggable="true" drag="do" on-drop-success="dropSuccessHandler($event,$index,diong)" ng-repeat="do in diong track by $index">
    {{do.name}}
  </md-list-item> </md-card>
      </md-card>
  </md-content>
  
   <!--=======================================================================================================-->
  
   <md-content class="md-padding"  ui-on-Drop="onDrop2($event,$data,review)">
              <md-card>
         <md-toolbar class="md-primary"  style="width:300px">
    <div class="md-toolbar-tools">
      <h2 class="md-flex">Review</h2>
    </div>
  </md-toolbar>
  <md-card>
  <md-list-item  class="secondary-button-padding" ng-click="doPrimaryAction()" ui-draggable="true" drag="rev" on-drop-success="dropSuccessHandler($event,$index,review)" ng-repeat="rev in review track by $index">
    {{rev.name}}
  </md-list-item> </md-card>
      </md-card>
  </md-content>
  
    <!--=======================================================================================================-->
  
    <md-content class="md-padding"  ui-on-Drop="onDrop3($event,$data,done)">
              <md-card>
         <md-toolbar class="md-primary"  style="width:300px">
    <div class="md-toolbar-tools">
      <h2 class="md-flex">Done</h2>
    </div>
  </md-toolbar>
  <md-card>
  <md-list-item  class="secondary-button-padding" ng-click="doPrimaryAction()" ui-draggable="true" drag="do" on-drop-success="dropSuccessHandler($event,$index,done)" ng-repeat="do in done track by $index">
    {{do.name}}
  </md-list-item> </md-card>
      </md-card>
  </md-content>

  
</div>
 

